.header
  margin-top: 25px
  padding: 16px 0
  border-top: $border
  border-bottom: $border
  &-container
    @include flex
  &-nav
    width: 100%
    &-list
      @include flex
      list-style-type: none
    &-link
      font-weight: 400
      text-decoration: none
      font-size: 16px
      line-height: 20px
