* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #AE7C78;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.header {
  margin-top: 25px;
  border-top: 1px solid #AE7C78;
  border-bottom: 1px solid #AE7C78;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.header-nav {
  width: 100%;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header-nav-link {
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.main-container {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-contetn-wrapper {
  margin-right: 20px;
}

.main-title {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 59px;
}

.main-title span {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.main-description {
  margin: 24px 0 64px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.btn {
  display: block;
  width: 285px;
  height: 80px;
  padding: 30px 65px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  background-color: #D89999;
  color: #ffffff;
  border-radius: 100px;
  cursor: pointer;
}

.btn:hover {
  background-color: #AE7C78;
}

.bouquet-1 {
  margin-top: 60px;
  margin-right: 20px;
}

.benefits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  padding-bottom: 40px;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  width: calc( (100% - 40px) / 3);
}

.benefit-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.benefit-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.popular-title {
  margin-bottom: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
}

.popular-content {
  width: 795px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
}

.popular-item-description {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.popular-item-size {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.popular-item-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 64px;
}

.button-wrapper {
  width: 120px;
  margin: 24px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-wrapper .arrow-left {
  display: block;
  width: 50px;
  height: 15px;
  border: none;
  background: url("../../img/arrow-left.svg") no-repeat center;
}

.button-wrapper .arrow-right {
  display: block;
  width: 55px;
  height: 15px;
  border: none;
  background: url("../../img/arrow-right.svg") no-repeat center;
}

.catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 19px;
          column-gap: 19px;
}

.catalog-chapter {
  width: 387px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 180px 0;
  border-radius: 10px;
  overflow: hidden;
}

.catalog-chapter-title {
  margin-bottom: 8px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.catalog-chapter-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.wedding {
  background: url("../../img/wedding-bouquet.jpg") no-repeat center/cover;
}

.peonies {
  background: url("../../img/peonies-bouquet.jpg") no-repeat center/cover;
}

.selection {
  background: url("../../img/selection-bouquet.jpg") no-repeat center/cover;
}

.sale-container {
  background: #AE7C78 url(../../img/sale-background.jpg) no-repeat;
  background-position: top right;
  margin: 40px auto;
  padding: 40px 100px;
}

.sale-title {
  max-width: 360px;
  margin-bottom: 24px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 59px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.sale-description {
  max-width: 380px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.steps-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 36px;
}

.steps-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.step {
  padding-top: 60px;
  max-width: calc( (100% - 60px) / 4);
}

.step-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.step-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.order {
  background: url("../../img/order.svg") no-repeat top center;
}

.details {
  background: url("../../img/details.svg") no-repeat top center;
}

.payment {
  background: url("../../img/payment.svg") no-repeat top center;
}

.step-delivery {
  background: url("../../img/delivery-icon.svg") no-repeat top center;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.news-content-wrapper {
  max-width: 380px;
  margin-right: 130px;
}

.news-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.news-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  max-width: 115px;
}

.instagram {
  display: block;
  width: 25px;
  height: 25px;
  background: url("../../img/instagram_icon.svg") no-repeat center;
}

.facebook {
  display: block;
  width: 25px;
  height: 25px;
  background: url("../../img/facebook_icon.svg") no-repeat center;
}

.twitter {
  display: block;
  width: 25px;
  height: 25px;
  background: url("../../img/twitter_icon.svg") no-repeat center;
}

.news-img-wrapper {
  max-width: 695px;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.reviews-container {
  margin: 40px auto;
  border: 1px solid #AE7C78;
  padding: 40px;
}

.reviews-title {
  margin-bottom: 40px;
  font-family: Playfair Display;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
}

.reviews-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 106px;
          column-gap: 106px;
}

.review {
  max-width: 300px;
}

.review-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.review-autor {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.contacts-section {
  background: url("../../img/map.jpg") no-repeat center/cover;
  height: 640px;
  margin-top: 80px;
}

.contacts-container {
  padding: 60px 10px;
}

.contacts-wrapper {
  width: 386px;
  height: 520px;
  padding: 40px 35px;
  background: #F7FAFC;
  -webkit-box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
          box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  border-radius: 12px;
}

.contacts-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 40px;
}

.contact-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.contact-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}
/*# sourceMappingURL=main.css.map */